@{
    ViewData["Title"] = "Deportes - Juegos Olímpicos";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Musho texto</p>
    <form class="row g-3 needs-validation" method="post" action='@Url.Action("GuardarDeportista","Home")'>
        <div class="input-group mb-3">
            <input type="text" name="Nombre" class="form-control" placeholder="Nombre" aria-label="Nombre" required>
            <input type="text" name="Apellido" class="form-control" placeholder="Apellido" aria-label="Apellido" required>
        </div>
        <input class="text-center" name="FechaNacimiento" type="date" required>
        <input type="url" name="Foto" placeholder="Ingresa la URL de una Imagen" required>
        <input type="text" name="Logros" class="form-control" placeholder="Logros o aspectos interesantes" aria-label="Nombre" required>
        <select name="IdPais" class="form-select form-select-lg mb-3" aria-label="Large select example" required>
            @foreach(Pais pais in ViewBag.PaisesLista){
                <option value="@pais.IdPais">@pais.Nombre</option>
            }
        </select>
        <select name="IdDeporte" class="form-select form-select-lg mb-3" aria-label="Large select example" required>
            @foreach(Deporte dep in ViewBag.DeportesLista){
                <option value="@dep.IdDeporte">@dep.Nombre</option>
            }
        </select>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</body>
</html>