@{
    ViewData["Title"] = ViewBag.Deporte + " - Juegos Olímpicos";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@ViewBag.Deporte.Foto" class="img-fluid rounded-start" alt="Foto de @ViewBag.Deporte.Nombre">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.Deporte.Nombre</h5>
                    <p class="card-text">@ViewBag.Deporte.Descripcion</p>
                    <p class="card-text"><small class="text-body-secondary">Numero de Id: @ViewBag.Deporte.IdDeporte</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4"></div>
        @foreach(Deportista dep in ViewBag.Deportistas)
        {
            <div class="col">
                <div class="card">
                    <a asp-controller="Home" asp-action="VerDetalleDeportista" asp-route-idDeportista=@dep.IdDeportista><img src="@dep.Foto" class="card-img-top" alt="Foto de @dep.Nombre"></a>
                    <div class="card-body">
                        <h5 class="card-title">@dep.Nombre @dep.Apellido</h5>
                        <p class="card-text">Nacido el @dep.FechaNacimiento en <a asp-controller="Home" asp-action="VerDetallePais" asp-route-idPais=@dep.IdPais>@ViewBag.PaisesLista[dep.IdPais]</a></p>
                        <p class="card-text"><small class="text-body-secondary">Numero de Id: @dep.IdDeportista</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>