@{
    ViewData["Title"] = "Deportes - Juegos Olímpicos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Musho texto</p>
    <table class="table table-hover table-bordered caption-top">
        <caption>Países</caption>
        <tbody>
            @foreach(Pais pais in ViewBag.PaisesLista)
            {
                <tr>
                    <th scope="row">@pais.IdPais</th>
                    <td><a asp-controller="Home" asp-action="VerDetallePais" asp-route-idPais=@pais.IdPais><img src="@pais.Bandera" alt="Bandera @pais.Nombre"></a></td>
                    <td><a asp-controller="Home" asp-action="VerDetallePais" asp-route-idPais=@pais.IdPais>@pais.Nombre</a></td>
                    <td>@pais.FechaFundacion</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>